h1{
    text-align: center;
}
.grid-container{
    width: 800px;
    background-color: yellowgreen;
    padding: 20px;
    border: 2px solid skyblue;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px 200px 100px;
    grid-template-rows: 200px 150px 200px;
    /* grid-column-gap: 10px;
    grid-row-gap: 20px; */
    grid-gap: 15px 30px;
}
.item{
    padding: 10px;
    border: 2px solid pink;
}
.item1{}
.item2{}
.item3{}
.item4{}
.item5{}
.item6{}
.item7{}
.item8{}
.item9{}
